{{- range .Values.dnsEndpoints }}
{{- $item := . -}}
{{- if $item.enabled }}
{{- $fullName := $item.fullnameOverride | default (print (include "external-dns-extensions.fullname" $) "-" $item.name) }}
---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: {{ $fullName }}
  namespace: {{ $item.namespace | default $.Release.Namespace | default "default" }}
  labels:
    {{- include "external-dns-extensions.labels" $ | nindent 4 }}
    {{- with $item.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- if $item.annotations }}
  annotations:
    {{- toYaml $item.annotations | nindent 4 }}
  {{- end }}
spec:
  endpoints:
    {{- range $endpoint := $item.endpoints }}
    - {{- if $endpoint.dnsName }}
      dnsName: {{ $endpoint.dnsName }}
      {{- else }}
      {{- fail "dnsName is required for each endpoint" }}
      {{- end }}
      {{- if $endpoint.labels }}
      labels:
        {{- toYaml $endpoint.labels | nindent 8 }}
      {{- end }}
      {{- if $endpoint.providerSpecific }}
      providerSpecific:
        {{- toYaml $endpoint.providerSpecific | nindent 8 }}
      {{- end }}
      {{- if $endpoint.recordTTL }}
      recordTTL: {{ $endpoint.recordTTL }}
      {{- end }}
      {{- if $endpoint.recordType }}
      recordType: {{ $endpoint.recordType }}
      {{- else }}
      {{- fail "recordType is required for each endpoint" }}
      {{- end }}
      {{- if $endpoint.setIdentifier }}
      setIdentifier: {{ $endpoint.setIdentifier }}
      {{- end }}
      {{- if $endpoint.targets }}
      targets:
        {{- toYaml $endpoint.targets | nindent 8 }}
      {{- else }}
      {{- fail "targets is required for each endpoint" }}
      {{- end }}
    {{- end }}
{{- end }}
{{- end }}
