{{- range .Values.applications }}
{{- $item := . -}}
{{- if $item.enabled }}
{{- $fullName := $item.fullnameOverride | default (print (include "argo-cd-extensions.fullname" $) "-" $item.name) }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ $fullName }}
  namespace: {{ $item.namespace | default $.Release.Namespace | default "default" }}
  labels:
    {{- include "argo-cd-extensions.labels" $ | nindent 4 }}
    {{- with $item.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- if $item.annotations }}
  annotations:
    {{- toYaml $item.annotations | nindent 4 }}
  {{- end }}
  {{- if $item.finalizers }}
  finalizers:
    {{- toYaml $item.finalizers | nindent 4 }}
  {{- end }}
spec:
  project: {{ $item.project | default "default" }}
  {{- if $item.source }}
  source:
    {{- $item.source | toYaml | nindent 4 }}
  {{- else if $item.sources }}
  sources:
    {{- $item.sources | toYaml | nindent 4 }}
  {{- else }}
  {{- fail "Either source or sources is required for Application" }}
  {{- end }}
  destination:
    {{- if $item.destination }}
    {{- if $item.destination.server }}
    server: {{ $item.destination.server }}
    {{- else if $item.destination.name }}
    name: {{ $item.destination.name }}
    {{- else }}
    # Default to in-cluster server when destination is specified but server/name is not
    server: https://kubernetes.default.svc
    {{- end }}
    {{- if $item.destination.namespace }}
    namespace: {{ $item.destination.namespace }}
    {{- else }}
    namespace: {{ $.Release.Namespace }}
    {{- end }}
    {{- else }}
    # Default destination to in-cluster
    server: https://kubernetes.default.svc
    namespace: {{ $.Release.Namespace }}
    {{- end }}
  {{- if $item.ignoreDifferences }}
  ignoreDifferences:
    {{- $item.ignoreDifferences | toYaml | nindent 4 }}
  {{- end }}
  {{- if $item.info }}
  info:
    {{- $item.info | toYaml | nindent 4 }}
  {{- end }}
  {{- if $item.revisionHistoryLimit }}
  revisionHistoryLimit: {{ $item.revisionHistoryLimit }}
  {{- end }}
  {{- if $item.syncPolicy }}
  syncPolicy:
    {{- $item.syncPolicy | toYaml | nindent 4 }}
  {{- end }}
{{- if $item.operation }}
operation:
  {{- $item.operation | toYaml | nindent 2 }}
{{- end }}
{{- end }}
{{- end }}
